MONEYSNAP_SQLITE_URL=jdbc:sqlite:file:./data/moneysnap.db?foreign_keys=on&journal_mode=WAL&busy_timeout=5000

APPLE_AUTH_ENABLED=false
APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY_P8=
APPLE_REFRESH_TOKEN_ENCRYPTION_KEY=

R2_ENABLED=false
R2_BUCKET=moneysnap-media-dev
R2_ENDPOINT=https://6bcae71f04b38cc620c6d3b5bd68cd78.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
